body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #25b7c4, #25c47d);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    max-width: 400px;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

input {
    padding: 10px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
}

button {
    padding: 10px;
    border: none;
    background-color: #ffaf29;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ff9029;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding: 10px;
}

li span {
    flex-grow: 1;
}

button.delete {
    background-color: #ff6666;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button.delete:hover {
    background-color: #ff4c4c;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
